{% extends 'base_tpl.html' %}
{% load static %}

<!-- Begin Block Styles -->
{% block styles %}
	<link href="{% static 'css/navbar_simple.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/program.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/program_modal.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<!-- End Block Styles -->

<!-- Begin Block Main Navbar -->
{% block main-navbar %}
	{% include 'navbar_simple_tpl.html' %}
{% endblock %}
<!-- End Block Main Navbar -->

<!-- Begin Block Content -->
{% block content %}

	<!-- Begin Section Program -->
    <section id="section-program" class="row clearfix section-large">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="text-center text-uppercase section-title">Programa del Evento</h2>
			<p class="text-center section-parragraph">Talleres Latinoamericanos sobre el uso de Python en:</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-36 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">Bioinform&aacute;tica</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">Bioinform&aacute;tica</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						SciPyLa 2017 sera la ocaci&oacute;n para explorar oportunidades de innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba
						destaca dados sus 893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera mano c&oacute;mo la
						biotecnolog&iacute;a se abre camino en la regi&oacute;n.

						<a id="btnProgram1" class="program-link" href="" data-toggle="modal" data-target="#program-modal-1">Leer M&aacute;s</a>

					</p>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-37 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">F&iacute;sica</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">F&iacute;sica</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						En el Taller se discutir&aacute;n los resultados m&aacute;s relevantes de los centros de investigacionesf&iacute;sicas de una regi&oacute;n que cuenta con
						m&aacute;s de 15,000 profesionales. La asistencia de pa&iacute;ses menos desarrollados contribuir&aacute; a reducir las brechas en t&eacute;rminos de
						educaci&oacute; e investigaci&oacute;n. <a id="btnProgram2" class="program-link" href="" data-toggle="modal" data-target="#program-modal-2">Leer M&aacute;s</a>
					</p>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-40 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">Ingenier&iacute;a El&eacute;ctrica y Autom&aacute;tica</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">Ingenier&iacute;a El&eacute;ctrica y Autom&aacute;tica</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						SciPyLa 2017 sera la ocaci&oacute;n para explorar oportunidades de innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba
						destaca dados sus 893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera mano c&oacute;mo la
						biotecnolog&iacute;a se abre camino en la regi&oacute;n. <a id="btnProgram3" class="program-link" href="" data-toggle="modal" data-target="#program-modal-3">Leer M&aacute;s</a>
					</p>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-40 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">Econom&iacute;a e Investigaci&oacute;n de Operaciones</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">Econom&iacute;a e Investigaci&oacute;n de Operaciones</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						SciPyLa 2017 sera la ocaci&oacute;n para explorar oportunidades de innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba
						destaca dados sus 893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera mano c&oacute;mo la
						biotecnolog&iacute;a se abre camino en la regi&oacute;n. <a id="btnProgram4" class="program-link" href="" data-toggle="modal" data-target="#program-modal-4">Leer M&aacute;s</a>
					</p>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-40 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">Tecnolog&iacute;as Emergentes de C&oacute;mputo</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">Tecnolog&iacute;as Emergentes de C&oacute;mputo</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						SciPyLa 2017 sera la ocaci&oacute;n para explorar oportunidades de innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba
						destaca dados sus 893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera mano c&oacute;mo la
						biotecnolog&iacute;a se abre camino en la regi&oacute;n. <a id="btnProgram5" class="program-link" href="" data-toggle="modal" data-target="#program-modal-5">Leer M&aacute;s</a>
					</p>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-40 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">Ciencias de la tierra</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">Ciencias de la tierra</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						SciPyLa 2017 sera la ocaci&oacute;n para explorar oportunidades de innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba
						destaca dados sus 893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera mano c&oacute;mo la
						biotecnolog&iacute;a se abre camino en la regi&oacute;n. <a id="btnProgram6" class="program-link" href="" data-toggle="modal" data-target="#program-modal-6">Leer M&aacute;s</a>
					</p>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 program-wrapper">
				<div class="program-left img-circle">
					<span class="icon-40 program-icon"></span>
				</div>
				<div class="program-right">
					<p class="text-left text-uppercase program-title visible-lg visible-md">Ciencias Sociales y Humanidades</p>
					<a href=""><p class="text-left text-uppercase program-title visible-sm visible-xs">Ciencias Sociales y Humanidades</p></a>
					<p class="text-justify section-parragraph visible-lg visible-md">
						SciPyLa 2017 sera la ocaci&oacute;n para explorar oportunidades de innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba
						destaca dados sus 893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera mano c&oacute;mo la
						biotecnolog&iacute;a se abre camino en la regi&oacute;n. <a id="btnProgram7" class="program-link" href="" data-toggle="modal" data-target="#program-modal-7">Leer M&aacute;s</a>
					</p>
				</div>
			</div>
		</div>

    </section>
    <!-- End Section Program -->

	<!-- Begin Program-1 Modal -->
	<div class=" modal fade" id="program-modal-1" tabindex="-1" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">Bioinform&aacute;tica</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-right" class="col-lg-6 col-lg-offset-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram12" class="btnForward" href="">
								<p class="text-right text-uppercase">Ir al Pr&oacute;ximo Tema</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

	<!-- Begin Program-2 Modal -->
	<div class=" modal fade" id="program-modal-2" tabindex="-1" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">F&iacute;sica</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram21" class="btnBack" href="">
								<p class="text-left text-uppercase">Ir al Tema anterior</p>
							</a>
						</div>
						<div id="footer-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram23" class="btnForward" href="">
								<p class="text-right text-uppercase">Ir al Pr&oacute;ximo Tema</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

	<!-- Begin Program-3 Modal -->
	<div class=" modal fade" id="program-modal-3" tabindex="-1" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">Ingenier&iacute;a El&eacute;ctrica y Autom&aacute;tica</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram32" class="btnBack" href="">
								<p class="text-left text-uppercase">Ir al Tema anterior</p>
							</a>
						</div>
						<div id="footer-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram34" class="btnForward" href="">
								<p class="text-right text-uppercase">Ir al Pr&oacute;ximo Tema</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

	<!-- Begin Program-4 Modal -->
	<div class=" modal fade" id="program-modal-4" tabindex="-4" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">Econom&iacute;a e Investigaci&oacute;n de Operaciones</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram43" class="btnBack" href="">
								<p class="text-left text-uppercase">Ir al Tema anterior</p>
							</a>
						</div>
						<div id="footer-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram45" class="btnForward" href="">
								<p class="text-right text-uppercase">Ir al Pr&oacute;ximo Tema</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

	<!-- Begin Program-5 Modal -->
	<div class=" modal fade" id="program-modal-5" tabindex="-5" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">Tecnolog&iacute;as Emergentes de C&oacute;mputo</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram54" class="btnBack" href="">
								<p class="text-left text-uppercase">Ir al Tema anterior</p>
							</a>
						</div>
						<div id="footer-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram56" class="btnForward" href="">
								<p class="text-right text-uppercase">Ir al Pr&oacute;ximo Tema</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

	<!-- Begin Program-3 Modal -->
	<div class=" modal fade" id="program-modal-6" tabindex="-6" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">Ciencias de la tierra</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram65" class="btnBack" href="">
								<p class="text-left text-uppercase">Ir al Tema anterior</p>
							</a>
						</div>
						<div id="footer-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram67" class="btnForward" href="">
								<p class="text-right text-uppercase">Ir al Pr&oacute;ximo Tema</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

	<!-- Begin Program-3 Modal -->
	<div class=" modal fade" id="program-modal-7" tabindex="-7" role="dialog">
		<!-- Begin Block Modal-Body -->
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<span class="icon-36 img-circle text-center center-block modal-program-icon"></span>
					<p class="text-center section-parragraph">Tallere Latinoamericano sobre el uso de Python en:</p>
					<p class="text-center section-title">Ciencias Sociales y Humanidades</p>
					<p class="text-justify section-parragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
						unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
						aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="modal-footer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="footer-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a id="btnToProgram76" class="btnBack" href="">
								<p class="text-left text-uppercase">Ir al Tema anterior</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Block Modal-Body -->
	</div>
	<!-- End Program Modal -->

{% endblock %}
<!-- End Block Content -->

<!-- Begin Block Javascript -->
{% block javascript %}
	<script language="JavaScript" type="text/javascript" src="{% static 'js/programs_modal.js' %}"></script>
{% endblock %}
<!-- End Block Javascript -->